.vs/*
SA2ChaoNamesTool/bin/*
SA2ChaoNamesTool/obj/*
SA2ChaoNamesTool/Properties/*
SA2CutsceneTextTool/bin/*
SA2CutsceneTextTool/obj/*
SA2CutsceneTextTool/Properties/*
SA2EmeraldHintsTool/bin/*
SA2EmeraldHintsTool/obj/*
SA2EmeraldHintsTool/Properties/*
SA2MsgFileTextTool/bin/*
SA2MsgFileTextTool/obj/*
SA2MsgFileTextTool/Properties/*
SA2SimpleTextTool/bin/*
SA2SimpleTextTool/obj/*
SA2SimpleTextTool/Properties/*
