.vs/*
SA2ChaoNamesTool/bin/*
SA2ChaoNamesTool/obj/*
SA2ChaoNamesTool/Properties/*
SA2CutsceneTextTool/bin/*
SA2CutsceneTextTool/obj/*
SA2CutsceneTextTool/Properties/*
SA2EmeraldHintsTool/bin/*
SA2EmeraldHintsTool/obj/*
SA2EmeraldHintsTool/Properties/*
SA2MessageTextTool/bin/*
SA2MessageTextTool/obj/*
SA2MessageTextTool/Properties/*
SA2SimpleTextTool/bin/*
SA2SimpleTextTool/obj/*
SA2SimpleTextTool/Properties/*
SA2SubtitlesTimingTool/bin/*
SA2SubtitlesTimingTool/obj/*
SA2SubtitlesTimingTool/Properties/*
